h1 {
    color: blueviolet;
    transition: 0.2s ease-in;
}

#myBtn {
    font-size: 1.5rem;
    font-weight: 700;
}

.invisible {
    visibility: hidden;
}

.huge {
    font-size: 5rem;
}

.drumBtns {
    font-size: 1.5rem;
    font-weight: 600;
}